*{
    margin: 0;
    padding: 0;
}

.container{

    position: relative;
}


#p2{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 1000px;
}
#grass{
    position: absolute;
    bottom: -90px;
    right: 100px;
}
#ball{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -10px;
    left: 110px;
    animation: move 5s linear infinite ;
}
@keyframes move {
    0% {
        transform: translateX(0);
      }
    
      50% {
        transform: translateX(1100px);
      }
    
      100% {
        transform: translateX(0);
      }
    
}

